* {
    margin: 0;
    padding: 0;
}

.slider-wrapper{
    margin: 20px auto;
    overflow: hidden;
    width: 850px;
    height: 520px;

    border-radius: 15px;
    background-color: #25282A;
    display: flex;
    flex-direction: column;
}



.button {
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #71ABFF;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.button:hover{
    background-color: #FFFFFF;
}

.button:active{
    background-color: #BCBDBE;
}

#slideButton1:checked~.text-wrapper .navigation-controls .b1, 
#slideButton2:checked~.text-wrapper .navigation-controls .b2, 
#slideButton3:checked~.text-wrapper .navigation-controls .b3, 
#slideButton4:checked~.text-wrapper .navigation-controls .b4 {
    box-sizing: border-box;
    background-color: #25282A;
    border: 2px solid #71ABFF;
}

.slides {
    display: flex;
    width: 400%;
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 15px;
    width: 25%;
}


.slide-container .slide-content {
    margin-bottom: 25px;
    width: 90%;
    border-radius: 15px;
}

.navigation-controls {
    display: flex;
    margin-right: 4%;

}
.main-frame {
    transition: all 0.5s;
}
#slideButton1:checked ~ .slides .main-frame {
    margin-left: 0;
}
#slideButton2:checked ~ .slides .main-frame{
    margin-left: -25%;
}
#slideButton3:checked ~ .slides .main-frame{
    margin-left: -50%;
}
#slideButton4:checked ~ .slides .main-frame{
    margin-left: -75%;
}

.hidden {
    display: none;
}

.text-wrapper{
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.text-slider {
    margin-left: 5%;
}

.slide-text {
    font-size: 1.5rem;
    color: #ffffff;
    opacity: 0;
    display: none;
}

@keyframes animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

#slideButton1:checked~.text-wrapper .text1,
#slideButton2:checked~.text-wrapper .text2,
#slideButton3:checked~.text-wrapper .text3,
#slideButton4:checked~.text-wrapper .text4 {
    animation: animation 1s;
    opacity: 1;
    display: block;
}

